@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/Quicksand-Light.eot');
  src: url('../fonts/quicksand/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/quicksand/Quicksand-Light.woff2') format('woff2'),
      url('../fonts/quicksand/Quicksand-Light.woff') format('woff'),
      url('../fonts/quicksand/Quicksand-Light.ttf') format('truetype'),
      url('../fonts/quicksand/Quicksand-Light.svg#Quicksand-Light') format('svg');
  /* font-weight: 300; */
  font-style: normal;
  font-display: swap;
}

/* Reset Browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

.header-top {
  width: 100%;
  height: 35px;
  background-color: #006a31;
}
.header-top p {
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}


/* Header Main */
.header-main {
  width: 100%;
  height: 90px;
  background-color: #fff;
}
.wrap-main {
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 90px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 160px;
  object-fit: cover;
}

.search {
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
}
.search input {
  width: calc(350px - 40px);
  height: 40px;
  background-color: blanchedalmond;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}
.search input:focus {
  outline: none;
}
.search button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #e31837;
  color: #fff;
  position: absolute;
  right: -2px;
}
.search button i {
  font-size: 17px;
}

.shipping {
  height: 90px;
  display: flex;
  align-items: center;
}
.shipping img {
  width: 50px;
  object-fit: cover;
}
.shipping .content {
  margin-left: 8px;
}
.shipping .content h4 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}
.shipping .content p {
  font-size: 16px;
  font-weight: 600;
  color: #e31837;
  margin-bottom: 0;
}
.shipping .content p:hover {
  color: #006a31;
}

.icon-user {
  height: 90px;
}
.icon-user .ic-use {
  display: flex;
  height: 90px;
  align-items: center;
  padding-left: 0;
}
.ic-use li {
  list-style: none;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ic-use li:first-child {
  margin-left: 0;
}
.ic-use li i {
  font-size: 20px;
  color: #006a31;
}
.ic-use li span {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
  background-color: #e31837;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
}

.regiters {
  height: 90px;
  display: flex;
  align-items: center;
}

.regiters button {
  padding: 9.5px 15px;
  background-color: #e31837;
  border-radius: 15px;
  color: #fff;
  border: none;
  margin-left: 15px;
}
.regiters button:first-child {
  margin-left: 0;
}


/* Header Bottom */
.header-bottom {
  width: 100%;
  background-color: #006a31;
  height: 54px;
}
.header-bottom .menu-main {
  display: flex;
  height: 54px;
  align-items: center;
  padding-left: 0;
}
.header-bottom .menu-main li {
  list-style: none;
  margin-right: 8px;
}
.header-bottom .menu-main li a {
  text-decoration: none;
  /* background-color: #e31837; */
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  transition: all .3s;
}
.header-bottom .menu-main li a:hover {
  background-color: #e31837;
}

.header-bottom .menu-main .active a {
  background-color: #e31837;
}


/* Banner */
.banner img {
  height: 550px;
  object-fit: cover;
}